@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap');

/* Application Menu */
body {
    background-color: #242426;
    color: #EDEDFC;
    font-family: 'Poppins', sans-serif;
    overflow-y: scroll;
}
.pathfinder_menu {
    border-bottom: 2px solid #EDEDFC;
}
select, input {
    color: #EDEDFC !important;
    background-color: #303033 !important;
}
select:focus, input:focus, button:focus {
    box-shadow: none !important;
    border: 1px solid #583BE0 !important;
}
.btn-dark-mode {
    background-color:#583BE0;
    color: #EDEDFC;
}
.btn-dark-mode:hover {
    background-color: #383759;
    color: #EDEDFC;
}
.node-tool {
    display: inline-block;
    font-size:2em;
}
.selected {
    color: #583BE0;
}
.legend {
    font-size:.7em;
}
nav a, nav a:hover {
    color: #EDEDFC;
    text-decoration: none;
}
.title {
    background-color: #4D4A8C;
    width:50%;
    margin-left: auto;
    margin-right: auto;
}
.tilt-right {
    transform:rotate(2deg);
}
.tilt-left {
    transform:rotate(-2deg);
}
.disabled-tool {
    color: #595959 !important;
}
/* Grid */
#board {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    table-layout: fixed;
}
td {
    border: 1px solid #56565C;
    text-align: center;
}
.visited1 {
    background-color: #C4357A !important;
}
.visited2 {
    background-color: #084BCF !important;
}
.visited3 {
    background-color: #F2506E !important;
}
.visited4 {
    background-color: #8C5D58 !important;
}
.path1 {
    background-color: #3E00A8 !important;
    border:none !important;
}
.path2 {
    background-color: #E97AFF !important;
    border: none !important;
}
.path3 {
    background-color: #FFBA19 !important;
    border: none !important;
}
.path4 {
    background-color: #09B271 !important;
    border: none !important;
}