@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap');

/* Application Menu */
body {
    background-color: #242426;
    color: #EDEDFC;
    font-family: 'Poppins', sans-serif;
    overflow-y: scroll;
}
.pathfinder_menu {
    border-bottom: 2px solid #EDEDFC;
}
select, input {
    color: #EDEDFC !important;
    background-color: #303033 !important;
}
select:focus, input:focus, button:focus {
    box-shadow: none !important;
    border: 1px solid #583BE0 !important;
}
.btn-dark-mode {
    background-color:#583BE0;
    color: #EDEDFC;
}
.btn-dark-mode:hover {
    background-color: #383759;
    color: #EDEDFC;
}
.node-tool {
    display: inline-block;
    font-size:2em;
}
.selected {
    color: #583BE0;
}
.legend {
    font-size:.7em;
}
nav a, nav a:hover {
    color: #EDEDFC;
    text-decoration: none;
}
.title {
    background-color: #4D4A8C;
    width:50%;
    margin-left: auto;
    margin-right: auto;
}
.tilt-right {
    transform:rotate(2deg);
}
.tilt-left {
    transform:rotate(-2deg);
}

/* Grid */
#board {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
td, tr {
    border: 1px solid white;
}